<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mongoose Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container jumbotron">
        <h1>Cat Page!</h1>
        <a href="/new" class="btn btn-primary">Create new cat</a>
        <hr>
        <% for (const cat of cats) { %>
            <p>Cat name: <a href="/<%= cat._id %>/"><%= cat.name %></a></p>
            <p><a href="/<%= cat._id %>/edit/" class="btn btn-primary">Edit cat</a></p>
            <form action="/<%= cat._id %>/delete/" method='post'>
                <input type="submit" value="Delete" class="btn btn-primary">
            </form> 
            <hr>
        <% } %>
    </div>
</body>
</html>