<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
    <script>
    
    </script>


</head>
<body>
    <div class='container text-center'>
        <div class='jumbotron bg-info'>
            <h1>EJS cats!</h1>
        </div>
        <div class="col">
            <a href="http://localhost:8000/cats/rambo"><img src="/images/cat1.jpg" id='cat1' class="rounded-circle" alt="cute cat" width="304" height="236"></a> 
        </div>
        <div class="col">
            <a href="http://localhost:8000/cats/james"><img src="/images/cat2.jpg" id='cat2' class="rounded-circle" alt="cute cat" width="304" height="236"></a>
        </div>
        <div class="col">
            <a href="http://localhost:8000/cats/captain"><img src="/images/cat3.jpg" id='cat3' class="rounded-circle" alt="cute cat" width="304" height="236"></a>
        </div>
    </div>
</body>
</html>