<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>secret and comment</title>
</head>
<body>
  <div class="row justify-content-md-center botton_cont ">
    <div class="col-md-6">
        <h1>Comment on this secret</h1>
        <div class="card">
            <% if(msg){ %>
            <div class="card-header">
                <p class="card-text"><%= msg.secret %></p>
            </div>
            <div class="card-body scroller">
                <% for(d of data) { %>
                    <p><%= d.comment %></p>
                <% } %>
            </div>
            <form action="/secretandcomment/<%= msg._id %>" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" name="comment">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <% } %>
        </div>
    </div>
</div>
</body>
</html>
